<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery.js}"/>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/assets/js/bootstrap.min.js}"/>

    <script th:src="@{/assets/js/custom.js}"/>
</div>
