<head th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/sb-admin.css}" rel="stylesheet"/>
    <link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"/>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"/>
    <![endif]-->
</head>