<!-- Navigation -->
<nav th:fragment="menu" xmlns:th="http://www.thymeleaf.org" th:class="'navbar navbar-inverse navbar-fixed-top'" th:role="'navigation'">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
        </button>
        <a class="navbar-brand" href="./">Staż</a>
    </div>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><i class="fa fa-fw fa-dashboard"/><a th:href="@{/login}" th:text="'Zaloguj'"/></li>
            <li><i class="fa fa-fw fa-dashboard"/><a th:href="@{/list-users}" th:text="'Lista użytkowników'"/></li>
            <li><i class="fa fa-fw fa-dashboard"/><a th:href="@{/list-certs}" th:text="'Lista certyfikatów'"/></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>