<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div id="wrapper">
    <nav th:replace="fragments/menu :: menu"/>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">

    <p th:text="${error}"/>

    <form action="#" th:action="@{/add-cert}" th:object="${cert}" th:method="post">
        <legend>Treść certyfikatu</legend>
        <section class="form-group">
            <textarea id="textarea" class="materialize-textarea" th:field="*{raw_bytes}" th:type="text"></textarea>
            <label for="textarea">Textarea</label>
        </section>
        <section class="form-group">
            <input type="submit"/>
        </section>
    </form>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    <nav th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>