<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div id="wrapper">
    <nav th:replace="fragments/menu :: menu"/>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">

    <p th:text="${error}"/>

    <form action="#" th:action="@{/edit-user/{username}(username=${user.username})}" th:object="${user}" th:method="post">
        <legend>Imię</legend>
        <section class="form-group">
            <input th:field="*{firstName}" th:type="text"/>
        </section>
        <legend>Nazwisko</legend>
        <section class="form-group">
            <input th:field="*{lastName}" th:type="text"/>
        </section>
        <legend>Wiek</legend>
        <section class="form-group">
            <input th:field="*{age}" th:type="text"/>
        </section>
        <section class="form-group">
            <input type="submit"/>
            <input type="reset"/>
        </section>
    </form>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    <nav th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>