<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div id="wrapper">
    <nav th:replace="fragments/menu :: menu"/>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">

    <a th:href="@{/add-cert}" class="waves-effect waves-light btn">Dodaj</a>
                <div class="table-responsive">

                <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Właściciel</td>
            <td>Common Name</td>
            <td>Wygasa</td>
            <td>Akcja</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cert : ${certs}">
            <td th:text="${cert.id}"/>
            <td th:text="${cert.owner}"/>
            <td th:text="${cert.fetchCommonName()}"/>
            <td>
                <p th:text="${cert.fetchExpiringDate()}"/>
                <p th:if="${cert.isExpiring()}" th:text="'Wygasa w ciągu 7 dni!'"/>
            </td>
            <td>
                <a th:href="@{/download-cert/{id}(id=${cert.id})}" class="waves-effect waves-light btn">Pobierz</a>
                <a th:href="@{/delete-cert/{id}(id=${cert.id})}" class="waves-effect waves-light btn">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    <nav th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>