<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div id="wrapper">
    <nav th:replace="fragments/menu :: menu"/>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">

                <div>
                    <form th:action="@{/list-users}" th:method="get">
                        <div class="input-field col s6">
                            <input th:value="${filterFirstname}" th:name="'filter-firstname'" th:type="text" class="validate"/>
                            <label th:for="'filter-firstname'">Imię</label>
                        </div>
                        <div class="input-field col s6">
                            <input th:value="${filterLastname}" th:name="'filter-lastname'" th:type="text" class="validate"/>
                            <label th:for="'filter-lastname'">Nazwisko</label>
                        </div>
                        <input type="submit"/>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped"
                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
                        <thead>
                        <tr>
                        <td>Nazwa użytkownika
                            <a th:if="${sort == 'username-dsc' || sort != 'username-asc'}" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', 'username-asc').toUriString()}">
                                <i class="fa fa-fw fa-sort-alpha-asc" aria-hidden="true"/>
                            </a>
                            <a th:if="${sort == 'username-asc'}" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', 'username-dsc').toUriString()}">
                                <i class="fa fa-fw fa-sort-alpha-desc" aria-hidden="true"/>
                            </a>
                        </td>
                        <td>Imię</td>
                        <td>Nazwisko
                            <a th:if="${sort == 'lastname-dsc' || sort != 'lastname-asc'}" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', 'lastname-asc').toUriString()}">
                                <i class="fa fa-fw fa-sort-alpha-asc" aria-hidden="true"/>
                            </a>
                            <a th:if="${sort == 'lastname-asc'}" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', 'lastname-dsc').toUriString()}">
                                <i class="fa fa-fw fa-sort-alpha-desc" aria-hidden="true"/>
                            </a>
                        </td>
                        <td>Wiek
                            <a th:if="${sort == 'age-dsc' || sort != 'age-asc'}" th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', 'age-asc').toUriString()}">
                                <i class="fa fa-fw fa-sort-numeric-asc" aria-hidden="true"/>
                            </a>
                            <a th:if="${sort == 'age-asc'}"
                               th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('sort', 'age-dsc').toUriString()}">
                                <i class="fa fa-fw fa-sort-numeric-desc" aria-hidden="true"/>
                            </a>
                        </td>
                        <td>Akcja</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.username}"/>
                            <td th:text="${user.firstName}"/>
                            <td th:text="${user.lastName}"/>
                            <td th:text="${user.age}"/>
                            <td><a th:href="@{/edit-user/{username}(username=${user.username})}" class="waves-effect waves-light btn">Edytuj</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    <nav th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>