<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div id="wrapper">
    <nav th:replace="fragments/menu :: menu"/>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">

    <section th:if="${auth.token != null}">
        <p th:text="'Jesteś zalogowany'"/>
        <a th:href="@{/logout}" th:text="'Wyloguj'"/>
    </section>

    <section th:if="${auth.token == null}">

        <p th:text="'Jesteś niezalogowany.'"/>

        <form action="#" th:action="@{/login}" th:object="${auth}" th:method="post">
            <legend>Nazwa użytkownika</legend>
            <section class="form-group">
                <input th:field="*{username}" th:type="text"/>
            </section>
            <legend>Hasło</legend>
            <section class="form-group">
                <input th:field="*{password}" th:type="password"/>
            </section>
            <section class="form-group">
                <input type="submit"/>
                <input type="reset"/>
            </section>
        </form>

    </section>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    <nav th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>